.thumbnails li {
  display: inline-block;
  margin: 5px;
  font-size: 0; /* Remove the extra padding at bottom of inline element */
}

.thumbnails button {
  border: 1px solid transparent;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  font-size: 0; /* Remove the extra padding at bottom of inline element */
}

.selected button {
  border-color: #aaa;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.thumbnails img {
  height: 100px;
}

.dragdrop {
  min-height: 200px;
  min-width: 400px;
  border: 1px solid #aaa;
  padding: 10px 20px;
  outline: none;
  max-height: 400px;
  overflow-x: hidden;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dragged {
  border-color: #28a1c5;
}
